<app-header></app-header>

<ion-content id="main" padding> 

  <div class="maincont">
    <ion-row class="tpspc autosrch">
      <ion-col size="12" class="ion-no-padding">
        <ion-searchbar class="bg-transparent searchbox" [(ngModel)]="searchValue" (ionFocus)="dropdownMethod(true)"  (ionInput)="filterSymptoms($event.target.value)" placeholder="Enter complaints / symptoms" (keyup.enter)="symptomsDefinition($event.target.value)">
    </ion-searchbar>

    <ion-list *ngIf="symptomsList.length > 0 && dropdownActive && searchValue.length > 0">
      <ion-item class="dropdownlst" *ngFor="let option of symptomsList" (click)="searchDropdownSetValue(option.symptoms)">{{option.symptoms}}</ion-item>
  </ion-list>
      </ion-col>
    </ion-row>

<!-- form loop start -->
    <div *ngFor="let item of complaintForms; index as i;">
    <!-- pain form start -->
    <div  *ngIf="item.type === 'pain'">
    <ion-row class="tpspc">
      <ion-col size="2" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding" (click)="removeComplaintFrom(i)"><span class="pointno">{{i+1}}</span></ion-item>
      </ion-col>

      <ion-col size="10" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding">BACKPAIN</ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How was its onset?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field1"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Which part is affected?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field2"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Are there any factors that precipitate it?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field3"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">If yes, how long ago have you had the similar experience?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field4"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How severe do you rate the pain?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 0)">1</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 1)">2</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 2)">3</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 3)">4</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 4)">5</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 5)">6</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 6)">7</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 7)">8 </span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 8)">9</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 9)">10</span>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Select the ones that best describes the pain</ion-col>

      <ion-col size="12" class="ion-no-padding">
        <span class="slnob pain-{{i}}" (click)="painType(i, 'BLUNT', 0)">BLUNT</span>
        <span class="slnob pain-{{i}}" (click)="painType(i, 'SHARP', 1)">SHARP</span>
          <span class="slnob pain-{{i}}" (click)="painType(i, 'PIERCING', 2)">PIERCING</span>
            <span class="slnob pain-{{i}}" (click)="painType(i, 'ACUTE', 3)">ACUTE</span>
              <span class="slnob pain-{{i}}" (click)="painType(i, 'CHRONIC', 4)">CHRONIC</span>
                <span class="slnob pain-{{i}}" (click)="painType(i, 'SUDDEN', 5)">SUDDEN</span>
                  <span class="slnob pain-{{i}}" (click)="painType(i, 'PERSISTENT', 6)">PERSISTENT</span>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" placeholder="Describe in your own words" [(ngModel)]="item.pain_describe"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Is there any recent history of trauma?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.history"></ion-input>
    </ion-item>

    <ion-row class="ion-no-padding tpspc">
      <ion-col size="12" class="ion-no-padding">
        <ion-button expand="block" color="tertiary" class="next-btn" (click)="formSubmit()">SUBMIT</ion-button>
      </ion-col>
    </ion-row>

  </div>
<!-- pain form ends -->

<!-- polyuria form start -->
    <div  *ngIf="item.type === 'polyuria'">
    <ion-row class="tpspc">
      <ion-col size="2" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding" (click)="removeComplaintFrom(i)"><span class="pointno">{{i+1}}</span></ion-item>
      </ion-col>

      <ion-col size="10" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding">POLYURIA</ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How was its onset?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field1"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">WHow many times do you relieve yourself?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field2"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Are there any factors that precipitate it?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field3"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">If yes, how long ago have you had the similar experience?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" [(ngModel)]="item.field4"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How severe do you rate the pain?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 0)">1</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 1)">2</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 2)">3</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 3)">4</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 4)">5</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 5)">6</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 6)">7</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 7)">8 </span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 8)">9</span>
      <span class="slnoa painrating-{{i}}" (click)="painRating(i, 9)">10</span>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Select the ones that best describes the pain</ion-col>

      <ion-col size="12" class="ion-no-padding">
        <span class="slnob pain-{{i}}" (click)="painType(i, 'BLUNT', 0)">BLUNT</span>
        <span class="slnob pain-{{i}}" (click)="painType(i, 'SHARP', 1)">SHARP</span>
          <span class="slnob pain-{{i}}" (click)="painType(i, 'PIERCING', 2)">PIERCING</span>
            <span class="slnob pain-{{i}}" (click)="painType(i, 'ACUTE', 3)">ACUTE</span>
              <span class="slnob pain-{{i}}" (click)="painType(i, 'CHRONIC', 4)">CHRONIC</span>
                <span class="slnob pain-{{i}}" (click)="painType(i, 'SUDDEN', 5)">SUDDEN</span>
                  <span class="slnob pain-{{i}}" (click)="painType(i, 'PERSISTENT', 6)">PERSISTENT</span>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" placeholder="Describe in your own words" [(ngModel)]="item.pain_describe"></ion-input>
    </ion-item>

    

    <ion-row class="ion-no-padding tpspc">
      <ion-col size="12" class="ion-no-padding">
        <ion-button expand="block" color="tertiary" class="next-btn" (click)="formSubmit()">SUBMIT</ion-button>
      </ion-col>
    </ion-row>
    </div>
<!-- polyuria form ends -->
  </div>
<!-- forms loop ends -->
  
</div>
</ion-content>