<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary"  class="ion-padding">

      <ion-row>
        <ion-col size="5">
         <ion-item class="bg-transparent ion-no-padding" lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"></ion-img>
          </ion-thumbnail>
           </ion-item>
        </ion-col>
        <ion-col size="7">
          Subrat Roy<br>
          Bhubaneswar
        </ion-col>
        
      </ion-row>




      
      <span class="navx" (click)="closeSidenavBar()">X</span>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="leftnavcnr">
      <ion-item class=" " [routerLink]="['/sign-in/dashboard/profile']" lines="none"><img src="../../../assets/images/left-profile-ico.svg"> My Profile</ion-item>
      <ion-item class=" " [routerLink]="['/sign-in/dashboard/triage']" lines="none"><img src="../../../assets/images/left-triage-ico.svg"> My Triage</ion-item>
      <ion-item class=" "  lines="none"><img src="../../../assets/images/left-cal-ico.svg"> My Appointments</ion-item>
      <ion-item class=" " lines="none"><img src="../../../assets/images/left-app-ico.svg"> New Appointments</ion-item>
      <ion-item class=" " [routerLink]="['/sign-in/dashboard/medicalRecords']" lines="none"><img src="../../../assets/images/left-record-ico.svg"> Medical Records</ion-item>
      <ion-item class=" " lines="none"><img src="../../../assets/images/left-forum-ico.svg"> Forum</ion-item>
      <ion-item class=" " lines="none"><img src="../../../assets/images/left-stat-ico.svg"> Statistics</ion-item>
      <ion-item class=" " lines="none"><img src="../../../assets/images/left-acc-ico.svg"> Account Settings</ion-item>
      <ion-item class=" " lines="none"><img src="../../../assets/images/left-help-ico.svg"> Help</ion-item>

      
    </ion-list>

    <ion-item class="leftlogout" lines="none" (click)="logout()"><img src="../../../assets/images/left-logout-ico.svg"> Logout</ion-item>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar class="bgwhite header">
    <ion-buttons slot="start" (click)="openSidenavBar()">
      <img src="../../assets/images/nav-ico.svg" />
    </ion-buttons>
    <ion-title align="center"> My Complaints </ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/images/alert-ico.svg" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">

  <div class="maincont">
    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">
        <ion-searchbar class="bg-transparent searchbox" placeholder="Enter complaints / symptoms">
        </ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="tpspc">
      <ion-col size="2" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding"><span class="pointno">1</span></ion-item>
      </ion-col>

      <ion-col size="10" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding">BACKPAIN</ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How was its onset?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Which part is affected?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Are there any factors that precipitate it?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">If yes, how long ago have you had the similar experience?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How severe do you rate the pain?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <span class="slnoa">1</span>
      <span class="slnoa">2</span>
      <span class="slnoa">3</span>
      <span class="slnoa">4</span>
      <span class="slnoa">5</span>
      <span class="slnoa">6</span>
      <span class="slnoa">7</span>
      <span class="slnoa">8</span>
      <span class="slnoa">9</span>
      <span class="slnoa">10</span>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Select the ones that best describes the pain</ion-col>

      <ion-col size="12" class="ion-no-padding">
        <span class="slnob">BLUNT</span>
        <span class="slnob">SHARP</span>
        <span class="slnob">PIERCING</span>
        <span class="slnob">ACUTE</span>
        <span class="slnob">CHRONIC</span>
        <span class="slnob">SUDDEN</span>
        <span class="slnob">PERSISTENT</span>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" placeholder="Describe in your own words"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Is there any recent history of trauma?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="ion-no-padding tpspc">
      <ion-col size="12" class="ion-no-padding">
        <ion-button expand="block" color="tertiary" class="next-btn">SUBMIT</ion-button>
      </ion-col>
    </ion-row>






    <ion-row class="tpspc">
      <ion-col size="2" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding"><span class="pointno">2</span></ion-item>
      </ion-col>

      <ion-col size="10" class="ion-no-padding">
        <ion-item lines="none" class="ion-no-padding">POLYURIA</ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How was its onset?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">WHow many times do you relieve yourself?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Are there any factors that precipitate it?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">If yes, how long ago have you had the similar experience?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx"></ion-input>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">How severe do you rate the pain?</ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-no-padding">
      <span class="slnoa">1</span>
      <span class="slnoa">2</span>
      <span class="slnoa">3</span>
      <span class="slnoa">4</span>
      <span class="slnoa">5</span>
      <span class="slnoa">6</span>
      <span class="slnoa">7</span>
      <span class="slnoa">8</span>
      <span class="slnoa">9</span>
      <span class="slnoa">10</span>
    </ion-item>

    <ion-row class="tpspc">
      <ion-col size="12" class="ion-no-padding">Select the ones that best describes the pain</ion-col>

      <ion-col size="12" class="ion-no-padding">
        <span class="slnob">BLUNT</span>
        <span class="slnob">SHARP</span>
        <span class="slnob">PIERCING</span>
        <span class="slnob">ACUTE</span>
        <span class="slnob">CHRONIC</span>
        <span class="slnob">SUDDEN</span>
        <span class="slnob">PERSISTENT</span>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="ion-no-padding">
      <ion-input class="midbx" placeholder="Describe in your own words"></ion-input>
    </ion-item>

    

    <ion-row class="ion-no-padding tpspc">
      <ion-col size="12" class="ion-no-padding">
        <ion-button expand="block" color="tertiary" class="next-btn">SUBMIT</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>