<ion-content overflow-scroll="true" class="padding intro">
  <div class="maincont">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Location</h2>
       <p>Please enter your location</p>
   </div>

   <ion-item class="bg-transparent ion-no-padding mobinpt" lines="none">
    <span item-right><ion-icon name="location-outline"></ion-icon></span>
    <ion-input placeholder="Your Location"></ion-input>
  </ion-item> 


  

  <ion-button expand="block" color="tertiary" class="next-btn" (click)="navigate()">Continue</ion-button>

  <div class="dtcrt">Detect current location</div>

 <!-- <div class="continuebtn" (click)="navigate()">Continue</div> -->

   
</div>
</ion-content>
