<ion-content overflow-scroll="true" class="padding intro">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Location</h2>
       <p>Please enter your location</p>
   </div>

 <!-- <input type="text" placeholder="Your Location"> -->
 <ion-item class="bg-transparent">
  <ion-label position="floating">Your Location</ion-label>
  <ion-input></ion-input>
</ion-item> 



 <div class="continuebtn" (click)="navigate()">Continue</div>

   

</ion-content>
