<ion-content overflow-scroll="true" class="padding intro">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Welcome</h2>
       <p>Sign in to continue</p>
   </div>

 <div class="signbtn" (click)="navigate()">Sign in with mobile number</div>

 <div class="ordv">or</div>

 <div class="fbsignbtn"><img src="../../assets/fbico.svg"> Sign in with Facebook</div>

   <div class="bottom-nav">
       By signing in, you accept our <a>Terms and Conditions</a>
   </div>

</ion-content>