<ion-content overflow-scroll="true" class="padding intro">
  <div class="maincont">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Mobile Number</h2>
       <p>The code will be sent to the full mobile number</p>
   </div>

 <ion-item class="bg-transparent ion-no-padding mobinpt" lines="none">
   
  <ion-input placeholder="Mobile No" type="number" name="mobileNo" [(ngModel)]="mobileNo" (ionInput)="mobileNoMethod()"></ion-input>
  <p style="color:red;font-size:13px;margin-top:5px;margin-bottom:5px;" *ngIf="!mobileNOError">Mobile no is not valid*</p>
  <p style="color:red;font-size:13px;margin-top:5px;margin-bottom:5px;" *ngIf="inValidMobileNo">Enter Mobile No*</p>
</ion-item> 
 

<ion-button expand="block" color="tertiary" class="next-btn"  (click)="navigate()">Continue</ion-button>



</div>
</ion-content>
