<ion-content overflow-scroll="true" class="padding intro">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Mobile Number</h2>
       <p>The code will be sent to the full mobile number</p>
   </div>

 <ion-item class="bg-transparent">
  <ion-label position="floating">Mobile no</ion-label>
  <ion-input></ion-input>
</ion-item> 

<div class="continuebtn" (click)="navigate()">Continue</div>
</ion-content>
