.content-Bg{background-color:#ECF1FA;font-family: 'Roboto', sans-serif;}
a{color: #2A2AC0;}
.intro{display: block; height: 100vh; }
.logocnr{text-align: center; padding-top:9em;}
.logocnrr{width: 85px; height: 85px; background-color: #6C63FF; border-radius: 85px;padding:16px; display: inline-block;}
.logocnrr img{width: 100%; height: auto;}
.logocnr p{margin-top: 0; margin-bottom: 2.5em;}
.intro h1{color:#333; font-size: 1.8em; text-align: center; margin:0px;font-weight: 500;}
.intro h2{color:#181461; font-size: 1.8em; text-align: center; font-weight: 500; line-height: 1.1; margin-bottom:0;margin-top: 2em;}



.maincont{background-color:#fff; padding:10px 25px;}

.mobinpt{border-radius: 6px; background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border:0px; padding:0px 10px; width: 100%; font-size: 1em;}

.next-btn{margin:20px 0;}

ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px; 
  }