<app-header></app-header>

<ion-content overflow-scroll="true" class="has-header padding" id="main">
       
  <div class="maincont">

    <ion-item class="bg-transparent ion-no-padding mobinpt" lines="none">
      
      <ion-input placeholder="Search"></ion-input>
      <ion-icon name="search-outline" item-right></ion-icon>
    </ion-item> 


       


<div class="dashboardbx"><h2>Appointments</h2><img src="../../assets/dashboard-appointment.svg"> </div>
<div class="dashboardbx"><h2>Records</h2><img src="../../assets/intro-second-img.svg"> </div>
<div class="dashboardbx"><h2>Forum</h2><img src="../../assets/intro-third-img.svg"> </div>
<div class="dashboardbx"><h2>Account Settings</h2><img src="../../assets/dashboard-accounting.svg"> </div>
      </div>
  
  
  
</ion-content>