.uhidbtn{position: absolute; right: 0px; bottom: 5px; --border-radius: 0px;}
ion-label{font-size: 1em;}

.nobrdrrads{--border-radius:0px; color: #fff;}
.tpspc{margin-top: 30px;}
.tpspcs{margin-top: 6px;}

.item-nativepd{--padding-start:0px!important;}

.maincont{background-color:#fff; padding:10px 20px;}

 .item-inner{border: 0px!important;}

 .divider{background-color: #F1F1F1; height: 3px; margin:20px -25px 10px -10px;}

 .next-btn{margin:20px 25px 20px 25px;}

 ion-range{--knob-background:#3171e0;
  --bar-background-active: #3171e0;
  --bar-background: #999;
  --bar-height: 3px;
  --knob-size: 15px;
  --knob-border-radius: 50%;
  --bar-border-radius: 20px;
  padding-top:15px;
margin-top:0px;
margin-bottom:30px;
  // --knob-box-shadow: 0px 0px 0px 3px #fff;
}

.pointno{background-color: #666; color: #fff; min-width:30px; height:30px; text-align:center; line-height: 30px; border-radius: 30px; margin-right:10px; font-size: 13px;}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px; 
 
}

.bpnm{display: block; width: 100%; left: 15px; top:50px; z-index: 999;  position: absolute; font-size: 12px; color: #6C63FF;}
.midbx{border:solid 1px #ccc; border-radius: 4px; text-align: center; font-size: 14px;}
.pos{position: relative;}
ion-input{
  --padding-end:5px;
  --padding-top:5px;
  --padding-bottom:5px;
   margin-right:5px;
  
}

// .native-input.sc-ion-input-ios{--padding: 5px!important; text-align: center;}

.ordv{text-align:center; font-size: 12px; color: #6C63FF; padding-top:19px;}
.small-text{font-size: 13px; color: #666;}

.padtp10{padding-top:10px;}
.padlft10{padding-left: 10px;}

.extrainfo{background-color: #666; color: #fff; padding: 5px; border-radius: 6px; margin-bottom: 15px;}
.bold{font-weight: 600;}

ion-icon {
  color: #666 !important;
  margin: 1px 2px 1px 0px !important;
  background-color: transparent;
  font-size: 22px;
  padding: 2px 2px 1px 0px;
}
.navx{position: absolute; right: 5px; top: 1px;}
.leftnavcnr{padding-top: 20px;padding-right: 10px;}
  .leftnavcnr img{ margin-right: 10px;}
  .leftlogout{position: absolute; bottom: 50px;}

  .profilepad{padding:20px;}
  .prof-img ion-img{border-radius: 100px;}
  .prof-img ion-img img{border-radius: 100px;}

  .profilepad ion-thumbnail{padding: 0!important; margin:0!important;}

.upload-btn-wrapper{position:relative;overflow:hidden;display:inline-block;vertical-align:middle}
.btn00{border:0; height:30px; color:#fff;font-size:14px;font-weight:500;cursor:pointer;display:inline-block}
.upload-btn-wrapper input[type=file]{position:absolute;left:0;top:0;opacity:0;width:75px; height: 30px;}
.txtlft{text-align: left!important; padding-left: 5px!important;}
.docimg{vertical-align: middle; margin-right: 5px;}

ion-chip ion-icon{font-size: 18px!important; padding:0px 0px 0px 5px!important;}

.multislcthldr{margin-bottom:10px;background:#fff;border-bottom:1px solid #ced4da;padding-bottom:5px; width: 100%;}
.mutltslct{background-color:#707070;display:inline-block;padding:1px 5px;color:#fff;font-weight:400;letter-spacing:.05em;font-size:12px;text-transform:uppercase;margin:0 3px}

.sc-ion-searchbar-md-h{
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
}



.searchbar-input.sc-ion-searchbar-md {
  -webkit-padding-start: 35px!important;
  padding-inline-start: 35px!important;
  -webkit-padding-end: 15px!important;
  padding-inline-end: 15px!important;
}

.sc-ion-searchbar-md-h{--box-shadow: none!important;border-bottom:solid 1px #ddd;}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios{--border-bottom:solid 1px #ddd!important;}