.uhidbtn{position: absolute; right: 0px; bottom: 5px; --border-radius: 0px;}
ion-label{font-size: 1em;}
ion-item .item-native{--padding-start:0px}
.nobrdrrads{--border-radius:0px; color: #fff;}
.tpspc{margin-top: 30px;}