<ion-content overflow-scroll="true" class="padding intro">
  <div class="maincont">
  <div class="logocnr">
   <div class="logocnrr">
           <img src="../../assets/logo.svg.svg">     
       </div>
       <h1>HIMS</h1>  
       <h2>Verification</h2>
       <p>Insert your code here:</p>
   </div>

   <ion-item class="bg-transparent ion-no-padding mobinpt" lines="none">
    <ion-input placeholder="OTP" type="number" [(ngModel)]="optNo" #opt (ionInput)="optNoValid(opt.value)"></ion-input>
    <p style="color:red;font-size:13px;margin-top:5px;margin-bottom:5px;" *ngIf="optNoError">Enter Otp No*</p>
    <p style="color:red;font-size:13px;margin-top:5px;margin-bottom:5px;" *ngIf="inValidOptNo">Invalid Opt*</p>
  </ion-item> 

 

  <ion-button expand="block" color="tertiary" class="next-btn" (click)="navigate()">Continue</ion-button>

<div class="navlft">Resend code</div>
<div class="navrgt" (click)="changeMobileNo()">Change Number</div>


  
</div>
</ion-content>
