<ion-header> 
  <ion-toolbar color="" class="bgwhite header"> 
    <ion-buttons slot="start">
      <img src="../../assets/images/nav-ico.svg">
      </ion-buttons>
  <ion-title align="center">
  Medical Records
  </ion-title> 
  <ion-buttons slot="end">
    <img src="../../assets/images/alert-ico.svg">
  </ion-buttons>
  </ion-toolbar>
  </ion-header> 
  
  <ion-content>

  <div class="maincont">

<ion-card>
   <ion-card-content>
  <h4>Patient Name</h4>

  <h4>Date & Address:</h4>
  <p>01.11.2019</p>
  <p>Sadar Hospital, Muzaffarpur</p>

  <h4>Complaints:</h4>
  <span class="symptoms">Constipation</span>
  <span class="symptoms">Oral Ulceration</span>
  <span class="symptoms">Cough</span>
  <span class="symptoms">Pain in throat</span>
  <span class="symptoms">Heartburn</span>

  <h4>Diagnosis:</h4>
  <span class="symptoms">Corneal Ulceration</span>
  <span class="symptoms">Gummata and Ulcers of yaws</span>
  <span class="symptoms">Vitamin A deficiency</span>
  <span class="symptoms">Oral mucositis</span>

   <h4>Medication:</h4>
   <span class="symptoms">Diclofenac 50 mg</span>

   <h4>Lab Tests:</h4>
   <span class="symptoms">Citrulline blood test</span>

   <h4>Notes:</h4>
   <p>Patient came in with complaints of heartburn, burping, uneasiness and constant reflux. The symptoms aggravated after eating</p>

   <h4 class="vertimg">e-Prescription - <img src="../../assets/images/pdfico.png"></h4>

  </ion-card-content>

  <ion-item>
  <ion-button expand="block" color="tertiary">Request Consent</ion-button>
  </ion-item>

</ion-card>


</div>
</ion-content>