<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
      <span style="float: right;" (click)="closeSidenavBar()">X</span>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>My Profile</ion-item>
      <ion-item>My Triage</ion-item>
      <ion-item>My Appointments</ion-item>
      <ion-item>New Appointments</ion-item>
      <ion-item>Medical Records</ion-item>
      <ion-item>Forum</ion-item>
      <ion-item>Statistics</ion-item>
      <ion-item>Account Settings</ion-item>
      <ion-item>Help</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- <ion-router-outlet id="main"></ion-router-outlet> -->
<ion-header>
  <ion-toolbar>
    <button class="button icon ion-navicon" (click)="openSidenavBar()"></button>
    <ion-title class="title">Dashboard</ion-title>
    <button class="button button-clear"><img src="../../assets/alert-ico.svg"></button>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" class="has-header padding" id="main">
       
  <div class="content">
      <div class="input_container">
      <img src="../../assets/search-ico.svg" class="input_img">
      <input type="text" placeholder="Search" class="searchbox">
      </div>


<div class="dashboardbx"><h2>Appointments</h2><img src="../../assets/dashboard-appointment.svg"> </div>
<div class="dashboardbx"><h2>Records</h2><img src="../../assets/intro-second-img.svg"> </div>
<div class="dashboardbx"><h2>Forum</h2><img src="../../assets/intro-third-img.svg"> </div>
<div class="dashboardbx"><h2>Account Settings</h2><img src="../../assets/dashboard-accounting.svg"> </div>
      </div>
  
  
  
</ion-content>
