<ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar color="primary"  class="profilepad">
          <ion-row>
            <ion-col size="3" class="ion-no-padding">
             <ion-item class="bg-transparent ion-no-padding" lines="none">
              <ion-thumbnail slot="start" class="prof-img">
                <ion-img src="../../../assets/images/avatar.jpg"></ion-img>
              </ion-thumbnail>
               </ion-item>
            </ion-col>
            <ion-col size="9">
              Subrat Roy<br>
              Bhubaneswar
            </ion-col>
          </ion-row>
          <span class="navx" (click)="closeSidenavBar()">X</span>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item [class.active-item]="selectedPath ==='/sign-in/dashboard/profile'" [routerLink]="['/sign-in/dashboard/profile']" lines="none"><img src="../../../assets/images/left-profile-ico.svg"> My Profile</ion-item>
            <ion-item [class.active-item]="selectedPath ==='/sign-in/dashboard/triage'" [routerLink]="['/sign-in/dashboard/triage']"   lines="none"><img src="../../../assets/images/left-triage-ico.svg"> My Triage</ion-item>
            <ion-item [class.active-item]="selectedPath ==='/sign-in/dashboard/complaints'" [routerLink]="['/sign-in/dashboard/complaints']" lines="none"><img src="../../../assets/images/left-cal-ico.svg"> My Appointments</ion-item>
            <ion-item  lines="none"><img src="../../../assets/images/left-app-ico.svg"> New Appointments</ion-item>
            <ion-item  [routerLink]="['/sign-in/dashboard/medicalRecords']" lines="none"><img src="../../../assets/images/left-record-ico.svg"> Medical Records</ion-item>
            <ion-item  lines="none"><img src="../../../assets/images/left-forum-ico.svg"> Forum</ion-item>
            <ion-item  lines="none"><img src="../../../assets/images/left-stat-ico.svg"> Statistics</ion-item>
            <ion-item  lines="none"><img src="../../../assets/images/left-acc-ico.svg"> Account Settings</ion-item>
            <ion-item  lines="none"><img src="../../../assets/images/left-help-ico.svg"> Help</ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item class="leftlogout" lines="none" (click)="logout()"><img src="../../../assets/images/left-logout-ico.svg"> Logout</ion-item>
      </ion-content>

    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
