<ion-content  [fullscreen]="true" class="slideBg">
  <ion-slides [options]="slideOpts" style="height:100%;"  pager="false" #homeSlider>
    <ion-slide class="intro slide-content padding slideBg">
      <div class="logocnr">
        <div class="logocnrr">
                <img src="../../assets/logo.svg.svg">     
            </div>
            <h1>HIMS</h1>  
            <h2>Find your Doctor</h2>
        </div>

        <div class="logocnr"><img src="../../assets/intro-first-img.svg"></div>

        <div class="bottom-nav">
            <div class="navlft" (click)="navigate()">Skip</div>
            <div class="navmdl"><div class="round-nav active"></div><div class="round-nav"></div><div class="round-nav"></div></div>
            <div class="navrgt" (click)="swipeNext()">Next</div>
        </div>
    </ion-slide>
    <ion-slide  class="intro slide-content padding slideBg">
      <div class="logocnr">
        <div class="logocnrr">
                <img src="../../assets/logo.svg.svg">     
            </div>
            <h1>HIMS</h1>  
            <h2>Access your <br> Medical Records</h2>
        </div>

        <div class="logocnr"><img src="../../assets/intro-second-img.svg"></div>

        <div class="bottom-nav">
            <div class="navlft" (click)="navigate()">Skip</div>
            <div class="navmdl"><div class="round-nav"></div><div class="round-nav active"></div><div class="round-nav"></div></div>
            <div class="navrgt" (click)="swipeNext()">Next</div>
        </div>
    </ion-slide>
    <ion-slide class="intro slide-content padding slideBg">
      <div class="logocnr">
        <div class="logocnrr">
                <img src="../../assets/logo.svg.svg">     
            </div>
            <h1>HIMS</h1>  
            <h2>Discuss in the <br> Forum</h2>
        </div>

        <div class="logocnr"><img src="../../assets/intro-third-img.svg"></div>

        <div class="bottom-nav">
            <div class="navlft" (click)="navigate()">Skip</div>
            <div class="navmdl"><div class="round-nav"></div><div class="round-nav"></div><div class="round-nav active"></div></div>
            <div class="navrgt" (click)="navigate()">Next</div>
        </div>
    </ion-slide>
  </ion-slides>
</ion-content>